.main-content {
  padding: 20px;
}

.tabela-alunos {
  width: 100%;
  border-collapse: collapse;
}

.tabela-alunos th, .tabela-alunos td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.tabela-alunos th {
  background-color: #f2f2f2;
}
